<!--company info
    phone number
    email
    
    User:
    name
    email
    -subject(choose from a list)
    -message body-->




<div class="container">
    <h2>SpicyBoisse Incorporated.</h2>
    <h4>(810) 123-4567</h4>
    <h4>hr@spicyboisse.com </h4>
</div>

<br />

@using (Html.BeginForm("Sign_in", "Home", FormMethod.Post))
{
    <div class="input-group">
        <label for="inputName" class="input-group-addon">Name</label>
        @Html.TextBox("Name", null, new { @class = "form-control", @placeholder = "Put your name here!" })
    </div>
    <br />
    <div class="input-group">
        <label for="inputEmail" class="input-group-addon">Email</label>
        @Html.TextBox("Email", null, new { @class = "form-control", @placeholder = "Put your Email here!" } )
    </div>
    <br />
    <!--
    <div class="form-group">
        <label for="inputSubject">Subject</label>
        Html.DropDownList( , new {  = "Urgent Question" } )
       //<!--"Urgent Question", "Thanks", "Mission-Specific Question", "Comment")
    </div>
    -->


    <div class="form-group">
        <label for="sel1">Subject (select one):</label>
        <select class="form-control" id="sel1">
            <option>Urgent Question</option>
            <option>Thanks!</option>
            <option>Mission-specific Question</option>
            <option>Comment</option>
        </select>
    </div>


    <br />
    <div class="input-group">
        <label for="inputMessage" class="input-group-addon">Message</label>
        @Html.TextArea("inputMessage", null, new { @class = "form-control", @rows = "10", @placeholder = "Put your message here!" } )
    </div>
    <br />
    <!--This button will use the information in the fields and pass it to the method "Sign_in" in the "Home" controller.
        These will need to be changed for the acutal version-->
    <button type="submit">Send Message</button>
    <br />
    <br />
    <!--This button will just reset the fields for now-->
    @Html.ActionLink("Reset Message", null, new { @class = "btn btn-primary btn-lg" } )
    <!--<button type="reset">Reset Message</button>-->
}



<div class="container">
    <h3>Send us a message!</h3>

    <form id="ContactInfo">
        <div class="input-group">
            <span class="input-group-addon">Name</span>
            <input id="NameField" type="text" class="form-control" name="NameField" placeholder="Put your name here!">
        </div>

        <br />

        <div class="input-group">
            <span class="input-group-addon">Email</span>
            <input id="EmailField" type="text" class="form-control" name="EmailField" placeholder="Put your email here!">
        </div>

        <br />

        <div class="form-group">
            <label for="sel1">Subject (select one):</label>
            <select class="form-control" id="sel1">
                <option>Urgent Question</option>
                <option>Thanks!</option>
                <option>Mission-specific Question</option>
                <option>Comment</option>
            </select>
        </div>

        <br />

        <div class="form-group">
            <label for="Message-body">Message:</label>
            <textarea class="form-control" rows="10" id="Message-body"></textarea>
        </div>

        <br />

        <div class="container">
            <input type="submit" class="btn btn-info" onclick="ClearFunction()" value="Submit Button">
            <!--This needs to clear all the fields-->
            <!--<input type="submit" class="btn btn-info" onclick="SubmitFunction()" value="Submit Button">-->
        </div>
    </form>
</div>

<script>
    function ClearFunction() {
        this.getElementByID("ContactInfo").reset();
    }
</script>

@using (Html.BeginForm("Sign_in", "Home", FormMethod.Post))
{
    <label for="inputEmail">Email address</label>
    @Html.TextBox("Email address")
    <label for="inputPassword">Password</label>
    @Html.Password("Password")
    <button type="submit">Sign in</button>
}